# Wallet Connect Project ID
VITE_WALLET_CONNECT_PROJECT_ID=2ec9743d0d0cd7fb94dee1a7e6d33475

# Contract Address
VITE_CIPHER_VAULT_FORECAST_ADDRESS=0x0000000000000000000000000000000000000000

# Chain Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia

# FHE Configuration
VITE_FHE_RELAYER_URL=https://api.zama.ai/fhevm/relayer
